.cabecalho{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 90px;
    background-color: var(--background-header);
}

.header-left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    position: inherit;
    margin-left: 25px;
}

.menu-hamburger,
.notification-header,
.profile-header{
    width: 50px;
    height: 50px;
}

.header-right{
    width: 50%;
    height: 100%;
    position: inherit;
}

.input-search{
    padding-left: 50px;
}

.icon-search{
    position: absolute;
    top: 34px;
    right: 284px;
    z-index: 1;
}

.input-search{
    position: absolute;
    right: 63px;
    width: 260px;
    height: 30px;
    top: 30px;
    border-radius: 21px;
    border-style: none;
    color: var(--preto);
}

input[type="text"]:focus{
    outline: none;
    color: var(--preto);
}

input[type="text"]{
    color: var(--preto);
}

.menu-toggle{
    width: 102px;
    height: calc(100% - 90px);
    display: flex;
    background: var(--gradiente-toggle);
}

.menu-toggle > figure {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    margin-top: 10%;
    margin-left: 25px;
}

.menu-toggle figure a {
    margin: 0 auto;
}

.menu-toggle figure img {
    width: 50px;
    height: 50px;
}

.faturamento-mensal {
    top: calc(30px + 102px);
    left: calc(8px + 102px);
}

.media-mensal{
    top: calc(30px + 102px);
    left: calc(322px + 102px);
}

.vendas-produto{
    top: calc(30px + 102px);
    left: calc(636px + 102px);
}

.produto-a-b,
.produto-c-d {
    position: relative;
}

.produto-a,
.produto-b,
.produto-c,
.produto-d{
    position: absolute;
    top: 50px;
    left: 25px;
    font-size: 24px;
}

.preco-a,
.preco-b,
.preco-c,
.preco-d{
    position: absolute;
    left: 10px;
}

.produto-c{
    left: 160px;
}

.produto-d{
    top: 150px;
    left: 160px;
}

.produto-b{
    top: 150px;
}

.ranking-vendas{
    width: 370px;
    height: 450px;
    border-radius: var(--radius-cards);
    border: 3px solid var(--branco);
    background-color: var(--background);
    position: absolute;
    top: calc(30px + 102px);
    left: calc(956px + 102px);
}

.perfil-2{
    top: 160px;
}
.perfil-3{
    top: 260px;
}

.perfil-4{
    top: 360px
}

.left-card{
    padding-left: 20px;
}

.right-card{
    padding: 10px;
}

.vendas-paises{
    width: 300px;
    height: 458px;
    position: absolute;
    left: calc(8px + 102px);
    top: calc(330px + 90px);
    border: 3px solid var(--branco);
    border-radius: var(--radius-cards);
}

.conjunto-guam{
    margin-top: 18px;
}

.grafico-vendas-guam{
    width: 130px;
    background-color: var(--bandeira-guam-grafico);
    margin-right: 13px;
}

.grafico-vendas-ecuador{
    width: 109px;
    background-color: var(--bandeira-ecuador-grafico);
    margin-right: 35px;
}

.grafico-vendas-cuba{
    width: 96px;
    background-color: var(--bandeira-cuba-grafico);
    margin-right: 48px;
}

.grafico-vendas-burundi{
    width: 83px;
    background-color: var(--bandeira-burundi-grafico);
    margin-right: 61px;
}

.grafico-vendas-argentina{
    width: 75px;
    background-color: var(--bandeira-argentina-grafico);
    margin-right: 69px;
}

.grafico-vendas-novaZelandia{
    width: 67px;
    background-color: var(--bandeira-novaZelandia-grafico);
    margin-right: 77px;
}

.grafico-vendas-angola{
    width: 55px;
    background-color: var(--bandeira-angola-grafico);
    margin-right: 89px;
}

.grafico-vendas-brasil{
    width: 37px;
    background-color: var(--bandeira-brasil-grafico);
    margin-right: 107px;
}